* {
	margin: 0;
	padding: 0;
}

body{
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

a{
  text-decoration: none;
}

header {
	height: 60px;
	width: 100%;
	background: #333;
	margin-bottom: 0px;
	color: #fff;
	display: flex;
	justify-content: center;
}

.menu-1{
  max-width: 1500px;
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 0px;
  list-style-type: none;
  display: flex;
  align-items: center;
  background-color: #333333;
  z-index: 3;
  position: relative;
}

.logo{
  display: flex;
  align-items: center;
  margin: 0 0 0 6%;
  color: white;
}

.menu-2{
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 25%;
	height: 100%;
	position: absolute;
	right:0px;
  }

li a{
	color: #fff;
	font-size: 1.17em;
}

.l3{
	background-color: #fff;
	width: 30%;
	height: 55% ;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 10px;
}

.l3:hover .button-l3{
	color:  gray;
	transition: color 0.5s;
}

.button-l3{
	color: #333333;
	transition: color 0.5s;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

li .a-button{
  color: white;
  margin: 0% 0 0 0;
  position: relative;
}

li .a-button::before {
  content: '';
  bottom: 1px;
  right: 0;
  position: absolute;
  width: 0%;
  height: 2px;
  background-color: white;
  transition: 0.7s;
}

li .a-button:hover:before{
  width: 100%;
  left: 0;
}

main{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.box-login{
  width: 331px;
  height: 350px;
  background-color: #333333;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 4px;
}

.text-login{
  margin-top: 5%;
  color: white;
  
}

form{
  height: 80%;
  width: 85%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

label{
  color: white;
  margin-top: 8%;
  width: 100%;
}

.email{
  margin-top: 2%;
  width: 100%;
  height: 55%;
  border: none;
  border-radius: 20px;
  box-sizing: border-box;
  padding-left: 3%;
}

.password{
  margin-top: 2%;
  width: 100%;
  height: 55%;
  border: none;
  border-radius: 20px;
  box-sizing: border-box;
  padding-left: 3%;
}

button{
  width: 70%;
  height: 20%;
  border-radius: 50px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  margin-top: 15%;
}

.h2-button{
  color: #333333;
  transition: color 0.5s;
  cursor: pointer;
}

button:hover .h2-button{
  color:  gray;
  transition: color 0.5s;
}

.register{
  margin-top: 5%;
  color: #fff;
}
.register:hover{
  text-decoration: underline;
}

footer{
	margin-top: 90px;
	width: 100%;
	height: 130px;
	background-color: #333333;
	box-sizing: border-box;
	padding: 2% 2% 0 2%;
}

.footer-box{
	height: 50px;
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	align-items: flex-start;
	border-bottom: 2px solid #666666;
	max-width: 1400px;
	margin-top: 0px;
	width: 100%;
	background-color: #333333;
	box-sizing: border-box;
  }
  
  .footer-logo{
	  color: white;
  }




  
  @media screen and (max-width: 1140px) {

	  header{
		height: 80px;
	  }

	  .logo{
		  margin-left: 5%;
		  font-size: 2;
	  }
  
	  .menu-2{
		  width: 30%;
	  }
  
	  .a-button{
		  font-size: 1.17em;
	  }
  
	  .l3{
		  background-color: #fff;
		  width: 30%;
		  height: 50% ;
		  display: flex;
		  justify-content: center;
		  align-items: center;
		  border-radius: 10px;
		}
		
		.button-l3{
		  color: #333333;
		  width: 100%;
		  height: 100%;
		  display: flex;
		  justify-content: center;
		  align-items: center;
		  font-size: 1.17em;
		}
		
		.box-login{
			width: 370px;
			height: 350px;
		}

		.email{
			height: 60%;
		}
		
		.password{
			height: 60%;
		}
  
	  footer{
		  height: 150px;
	  }
  
	  .footer-box {
		  height: 60px;
	  }
  }
  
  @media screen and (max-width: 990px) {
	  /* популярный */
		  .logo{
			  margin-left: 5%;
			  font-size: 1.50;
		  }
	  
		  .menu-2{
			  width: 40%;
		  }
	  
		  .a-button{
			  font-size: 1.17em;
		  }
	  
		  .l3{
			  background-color: #fff;
			  width: 30%;
			  height: 50% ;
			  display: flex;
			  justify-content: center;
			  align-items: center;
			  border-radius: 10px;
			}
			
			.button-l3{
			  color: #333333;
			  width: 100%;
			  height: 100%;
			  display: flex;
			  justify-content: center;
			  align-items: center;
			  font-size: 1.17em;
			}
	  
			.bulletin-1{
			  display: flex;
			  justify-content: center;
			  align-items: center;
		  }
		  .search-box {
			  width: 60%;
			  height: 50px;
			  margin: 0 auto 60px auto;
		  }
	  
		  .section-wrapper {
			  max-width: 1200px;
			  margin: 0 auto;
			  width: 100%;
		  }
	  
		  .sidebar {
			  display: none;
		  }
	  
		  .main-content{
			  margin-right: 0px;
		  }
	  
		  .description-game{
			  display: block;
		  }
	  
		  
	  
		  .game{
			  margin: 0 auto 8% auto;
			  width: 90%;
		  }
	  
		  .num{
			  display: flex !important;
			  flex-direction: row;
			  
		  }
	  
		  .game-photo {
			  width: auto;
			  height: 80%;
			  margin-top: 3%;
			  margin-left: 3%;
			  border-radius: 5px;
			  position: static;
			  
		  }
	  
		  .game-text{
			  position: static;
			  margin-top: 3%;
			  margin-left: 2%;
			  margin-right: 2%;
			  width: 100%;
		  }
	  
		  .game-text-gamename{
			  display: flex;
			  justify-content: flex-start;
		  }
	  
		  .inf-game{
			  display: flex;
			  justify-content: flex-star;
		  }
	  
		  footer{
			  height: 150px;
		  }
	  
		  .footer-box {
			  height: 60px;
		  }
  }
  
  @media screen and (max-width: 768px) {
	  /* популярный */
	  .logo{
		  margin-left: 5%;
		  font-size: 1.17em;
	  }
  
	  .menu-2{
		  width: 35%;
	  }
  
	  .a-button{
		  font-size: 1.17em;
	  }
  
	  .l3{
		  background-color: #fff;
		  width: 25%;
		  height: 50% ;
		  display: flex;
		  justify-content: center;
		  align-items: center;
		  border-radius: 10px;
		}
		
		.button-l3{
		  color: #333333;
		  width: 100%;
		  height: 100%;
		  display: flex;
		  justify-content: center;
		  align-items: center;
		  font-size: 1.17em;
		}
  
		.bulletin-1{
		  display: flex;
		  justify-content: center;
		  align-items: center;
	  }
	  .search-box {
		  width: 70%;
		  height: 50px;
		  margin: 0 auto 60px auto;
	  }
  
	  .section-wrapper {
		  max-width: 1200px;
		  margin: 0 auto;
		  width: 100%;
	  }
  
	  .sidebar {
		  display: none;
	  }
  
	  .main-content{
		  margin-right: 0px;
		  width: 100%;
	  }
  
	  .description-game{
		  display: block;
	  }
  
	  
  
	  .game{
		  margin: 0 auto 8% auto;
		  width: 95%;
	  }
  
	  .num{
		  display: flex !important;
		  flex-direction: row;
		  
	  }
  
	  .game-photo {
		  width: auto;
		  max-width: 200px;
		  height: 90%;
		  margin-top: 3%;
		  margin-left: 3%;
		  border-radius: 5px;
		  position: static;
		  
	  }
  
	  .game-text{
		  position: static;
		  margin-top: 3%;
		  margin-left: 2%;
		  width: 66%;
	  }
  
	  .game-text-gamename{
		  display: flex;
		  justify-content: flex-start;
	  }
  
	  .inf-game{
		  display: flex;
		  justify-content: flex-start;
	  }
  
	  footer{
		  height: 150px;
	  }
  
	  .footer-box {
		  height: 60px;
	  }
  }
  
  
  @media screen and (max-width: 600px) {
	  .logo{
		  margin-left: 5%;
		  font-size: 1.17em;
	  }
  
	  .menu-2{
		  width: 55%;
	  }
  
	  .a-button{
		  font-size: 1.17em;
	  }
  
	  .l3{
		  background-color: #fff;
		  width: 25%;
		  height: 50% ;
		  display: flex;
		  justify-content: center;
		  align-items: center;
		  border-radius: 10px;
		}
		
		.button-l3{
		  color: #333333;
		  width: 100%;
		  height: 100%;
		  display: flex;
		  justify-content: center;
		  align-items: center;
		  font-size: 1em;
		}
  
		.bulletin-1{
		  display: flex;
		  justify-content: center;
		  align-items: center;
		  font-size: 1.17em;
	  }
	  .search-box {
		  width: 90%;
		  height: 50px;
		  margin: 0 auto 60px auto;
	  }
  
	  .section-wrapper {
		  max-width: 1200px;
		  margin: 0 auto;
		  width: 100%;
	  }
  
	  .sidebar {
		  display: none;
	  }
  
	  .main-content{
		  margin-right: 0px;
	  }
  
	  .description-game{
		  display: none;
	  }
  
	  
  
	  .game{
		  margin: 0 auto 8% auto;
		  width: 80%;
	  }
  
	  .num{
		  display: flex !important;
		  flex-direction: column;
		  align-items: center;
	  }
  
	  .game-photo {
		  width: auto;
		  height: 75%;
		  margin-top: 4%;
		  border-radius: 5px;
		  position: static;
		  
	  }
  
	  .game-text{
		  position: static;
		  margin-top: 2%;
		  width: 100%;
	  }
  
	  .game-text-gamename{
		  display: flex;
		  justify-content: center;
	  }
  
	  .inf-game{
		  display: flex;
		  justify-content: center;
	  }
  
	  footer{
		  height: 150px;
	  }
  
	  .footer-box {
		  height: 60px;
	  }
  
	  
  }
  
  @media screen and (max-width: 320px) {
	  .logo{
		  margin-left: 5%;
		  font-size: 0.80em;
	  }
  
	  .menu-2{
		  width: 60%;
	  }
  
	  .a-button{
		  font-size: 0.83em;
	  }
  
	  .l3{
		  background-color: #fff;
		  width: 30%;
		  height: 45% ;
		  display: flex;
		  justify-content: center;
		  align-items: center;
		  border-radius: 10px;
		}
		
		.button-l3{
		  color: #333333;
		  width: 100%;
		  height: 100%;
		  display: flex;
		  justify-content: center;
		  align-items: center;
		  font-size: 0.67em;
		}
  
		.bulletin-1{
		  display: flex;
		  justify-content: center;
		  align-items: center;
		  font-size: 0.83em;
	  }
	  .search-box {
		  width: 90%;
		  height: 50px;
		  margin: 0 auto 60px auto;
	  }
  
	  .section-wrapper {
		  max-width: 1200px;
		  margin: 0 auto;
		  width: 100%;
	  }
  
	  .sidebar {
		  display: none;
	  }
  
	  .main-content{
		  margin-right: 0px;
	  }
  
	  .description-game{
		  display: none;
	  }
  
	  
  
	  .game{
		  margin: 0 auto 8% auto;
		  width: 80%;
	  }
  
	  .num{
		  display: flex !important;
		  flex-direction: column;
		  align-items: center;
	  }
  
	  .game-photo {
		  width: auto;
		  height: 75%;
		  margin-top: 4%;
		  border-radius: 5px;
		  position: static;
		  
	  }
  
	  .game-text{
		  position: static;
		  margin-top: 2%;
		  width: 100%;
	  }
  
	  .game-text-gamename{
		  display: flex;
		  justify-content: center;
	  }
  
	  .inf-game{
		  display: flex;
		  justify-content: center;
	  }
  
	  footer{
		  height: 100px;
	  }
  
	  .footer-box {
		  height: 40px;
	  }
  
	  .footer-logo{
		  font-size: 1.17em;
	  }
  
	  .onas{
		  font-size: 1.17em;
	  }
  }
  
  @media screen and (max-width: 400px) {
	  .logo{
		  margin-left: 5%;
		  font-size: 0.83em;
	  }
  
	  .menu-2{
		  width: 60%;
	  }
  
	  .a-button{
		  font-size: 0.83em;
	  }
  
	  .l3{
		  background-color: #fff;
		  width: 30%;
		  height: 45% ;
		  display: flex;
		  justify-content: center;
		  align-items: center;
		  border-radius: 10px;
		}
		
		.button-l3{
		  color: #333333;
		  width: 100%;
		  height: 100%;
		  display: flex;
		  justify-content: center;
		  align-items: center;
		  font-size: 0.67em;
		}
  
		.bulletin-1{
		  display: flex;
		  justify-content: center;
		  align-items: center;
		  font-size: 1em;
	  }
	  .search-box {
		  width: 90%;
		  height: 50px;
		  margin: 0 auto 60px auto;
	  }
  
	  .section-wrapper {
		  max-width: 1200px;
		  margin: 0 auto;
		  width: 100%;
	  }
  
	  .sidebar {
		  display: none;
	  }
  
	  .main-content{
		  margin-right: 0px;
	  }
  
	  .description-game{
		  display: none;
	  }
  
	  
  
	  .game{
		  margin: 0 auto 8% auto;
		  width: 80%;
	  }
  
	  .num{
		  display: flex !important;
		  flex-direction: column;
		  align-items: center;
	  }
  
	  .game-photo {
		  width: auto;
		  height: 75%;
		  margin-top: 4%;
		  border-radius: 5px;
		  position: static;
		  
	  }
  
	  .game-text{
		  position: static;
		  margin-top: 2%;
		  width: 100%;
	  }
  
	  .game-text-gamename{
		  display: flex;
		  justify-content: center;
	  }
  
	  .inf-game{
		  display: flex;
		  justify-content: center;
	  }
  
	  footer{
		  height: 100px;
	  }
  
	  .footer-box {
		  height: 40px;
	  }
  
	  .footer-logo{
		  font-size: 1.17em;
	  }
  
	  .onas{
		  font-size: 1.17em;
	  }
  }
	border-bottom: #666666 solid 2px ;
}

.footer-logo{
	color: white;
}

.information{
	text-decoration: none;
	color: white;
	position: relative;
}

.onas{

}

.onas:before{
	content: '';
	bottom: 2px;
	right: 0;
	position: absolute;
	width: 0%;
	height: 2px;
	background-color: white;
	transition: 0.7s;
}
  
.onas:hover:before{
	width: 100%;
	left: 0;
}
