* {
  margin: 0;
  padding: 0;
}

body{
  margin: 0;
	font-family: 'Roboto', sans-serif;
}

a{
	text-decoration: none;
}

header {
  height: 60px;
  width: 100%;
  background: #333;
  margin-bottom: 0px;
  color: #fff;
}

.menu-1{
  height: 100%;
	width: 100%;
	margin: 0px;
	padding: 0px;
	list-style-type: none;
	display: flex;
	align-items: center;
	background-color: #333333;
  z-index: 3;
  position: relative;
}

.logo{
  display: flex;
	align-items: center;
	margin: 0 0 0 6%;
  color: white;
}

.menu-2{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 40%;
  height: 100%;
  position: absolute;
  right:0px;
}

li a{
  color: #fff;
  font-size: 1.17em;
}

.l3{
  background-color: #fff;
  width: 20%;
  height: 55% ;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.l3:hover .button-l3{
  color:  gray;
  transition: color 0.5s;
}

.button-l3{
  color: #333333;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

li .a-button{
	color: white;
	margin: 0% 0 0 0;
	position: relative;
}

li .a-button::before {
	content: '';
	bottom: 1px;
	right: 0;
	position: absolute;
	width: 0%;
	height: 2px;
	background-color: white;
	transition: 0.7s;
  }
  
li .a-button:hover:before{
	width: 100%;
	left: 0;
}

.section-wrapper {
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
  display: flex;
}

.sidebar {
  background: #333;
  width: 250px;
  min-width: 250px;
  color: #fff;
  height: 2110px;
  padding-bottom: 3%;
  border-radius: 10px;
}

.main-content {
  width: 100%;
  margin-right: 30px;
}

.game{
	width: 100%;
	height: 300px;
	background-color: #333333;
	border-radius: 10px;
	position: relative;
	margin-bottom: 5%;
}

.game-photo{
	width: 18%;
	height: 80%;
	position: absolute;
	top: 10%;
	left: 3%;
	border-radius: 5px;
}

.game-text{
	position: absolute;
	top: 10%;
	right: 3%;
	width: 73%;
}

.a-game-text-gamename{
	color: white;
	margin: 0% 0 0 0;
	position: relative;
}

.a-game-text-gamename::before {
	content: '';
	bottom: 1px;
	right: 0;
	position: absolute;
	width: 0%;
	height: 1px;
	background-color: white;
	transition: 0.5s;
  }
  
.a-game-text-gamename:hover:before{
	width: 100%;
	left: 0;
}

.game-gener-game{
	margin: 2% 3% 0 0;
	float: left;
	color: white;
}

.game-year-game{
	margin: 2% 0 0 2%;
	float: left;
	color: white;
}

.description-game{
	float: left;
	color: white;
	margin-top: 3%;
}

.game-gener-photo{
	height: 32px;
	width: 32px;
	margin: 0 3% 0 3%;
}

.game-gener-text1{
	max-width: 300px;
  color: white;
  margin-right: 1px;
}

.game-gener-text{
	color: white;
	max-width: 150px;
}

.radio{
	margin-left: 5px;
}

label input[type="radio"] {
	display: none;
}

label input[type="radio"] ~ span {
	display: inline-block;
	padding: 0px 0 0px 0px;
}

label input[type="radio"] ~ span:before {
	content: "" ;
	display: block;
	position: absolute;
	width: 18px;
	height: 18px;
	background: #fff;
	margin-right: 5px;
	border: 1px solid #666666;
	border-radius: 50%;
	right: 5px;
	bottom: 5px;
	box-sizing: border-box;
	transition: all 300ms ease-in-out;
}

label input[type="radio"]:checked ~ span:before {
	border: 5px solid #666666;
}

.game-gener-menu{
	display: flex;
	align-items: center;
	margin-top: 7%;
	position: relative;
}

.search-box{
  width: 40%;
  height: 50px;
  border: 1px gray solid;
  margin: 0 auto 5% auto ;
  border-radius: 4px;
  display: flex;
	align-items: center;
}

.search{
	height: 100%;
	width: 85%;
	margin-left: 3%;
	margin-right: 3%;
	outline: none;
	border: none;
}

.submit-search{
	height: 30px;
	width: 30px;
	background-color: white;
	background-image: url(assets/search.svg);
	border: none;
	background-size: contain; 
	cursor: pointer;
	outline: none;
}

.bulletin-board{
	max-width: 1400px;
	height: 300px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.bulletin-1{

}

